@charset "utf-8";
/* CSS Document */

.WRAPPER { overflow: hidden; }

/*回版頭*/
#gotop { display: none !important; position:fixed; z-index:5; right:20px; bottom:30px;padding:10px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#000;  background-color:rgba(255,255,255,0.7); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px; background-color:#fff;} 
#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #000; border-color: transparent transparent #000; }
	@media screen and (max-width:767px){
		#gotop { display:block !important;right:20px; bottom:20px; }
	}


/*浮層嘿嘿*/
.blackBox_play {}
.blackBox { display:none; z-index:999; position:fixed; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75); }
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:2px; right:5px; display:block; border:2px solid #fff; border-radius:5px; width:63px; height:auto; font-size:1rem; line-height:21px; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#fff;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}


.blackBox.close{ display: none !important; }

/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:5%; margin:0 auto 30px; width:98%; max-width:900px;text-align:left; font-family:"Century Gothic", "微軟正黑體", sans-serif; /*text-align:justify; word-break:break-all;*/}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:0px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea {overflow:auto; overflow-y:auto; -webkit-overflow-scrolling:touch;    padding: 25px;}
.agreeArea .box h3 { padding: 0; margin: 0; height: 3rem; font-size: 1.25rem; font-weight: 800; line-height: 3rem; text-align: center; color: #000; background-color: #399bd1;}
.agreeArea .box h4 { margin:0 0 0 10px; padding:0; height:3rem; font-size:1.5em; font-weight:800;line-height:3rem; ; color:#000;text-align:left;  }
.agreeArea .box p { margin:10px auto; margin-top:1.2em; padding:0 0 0 24px; text-align:center; font-size:1em;  line-height:1.2em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:1.2em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;padding:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:1.2em; text-align: justify;list-style-type:decimal;}
.agreeArea .box table { margin: 0 8%; width:84%;  border-collapse:collapse;   text-align: center;}
.agreeArea .box th { padding:5px; border:1px solid #000; background:#d3d3d3; font-size:1.2em; }
.agreeArea .box td { padding:5px; border:1px solid #000; color:#000; font-size:1.2em; vertical-align:top; }
.agreeArea .box table ul,
.agreeArea .box table ol { padding:0 0 0 20px;}
.agreeArea .box table li { margin:0 0 10px 0px;}
	@media screen and (max-width:767px){
	.agreeArea .box table { margin: 0; width:100%;  border-collapse:collapse;    text-align: center;}
	.agreeArea .box h3 { margin:0; padding:0; height:2rem; font-size:12pt; font-weight:800;line-height:2rem;color:#fff;text-align:center;  }
	.agreeArea .box p { margin:10px auto; margin-top:1em; padding:0 0 0 24px; text-align:center; font-size:0.8em;  line-height:1.1em; color:#000;}
	}


/*手機登記按鈕20190506*/

            .book_box {  position:relative;}
            .book_box a { display:block; width:100%; height:100%;}
            .book_ { }
            .book_ .count { margin: 0;padding: 0;  color:#000000; text-align:center; font: bold 3vw/5vw "Century Gothic", Arial, "Microsoft JhengHei";}	
            
            /*1品*/		
            .book_01 { position:absolute;width:62.50%;  height: 100%;  top: 0vw;left:0vw; }
            .book_01 .count { position: absolute;     top: 79%;    left: 63%;}
            .post { position:absolute; width:37.50%;  height: 50%;  top: 0; left:62.4%;}
            .list { position:absolute; width:37.50%;  height: 50%;  top: 50%;left:62.4%; }
            
            /*2品*/	
            .book_box2 .book_01 { position:absolute;width:33.33%;  height: 100%;  top: 0vw;left:0vw; }
            .book_box2 .book_01 .count { position: absolute; top: 79.5%; left:43%;}
            .book_box2 .book_02 { position:absolute;width:30.33%;  height: 100%;  top:0;left:35%;  }
            .book_box2 .book_02 .count {  position: absolute; top: 79.5%;    left: 36%;}
            .book_box2 .post { position:absolute; width:33.33%;  height:41%;  top: 0%; left:66%;}
            .book_box2 .list { position:absolute; width:33.33%;  height: 44%;  top: 44%;left:66%; }


  			 /*2品第2組*/	
            .book_box22 .book_01 { position:absolute;width:33.33%;  height: 71%;  top: 17vw;left:5vw; }
            .book_box22 .book_01 .count { position: absolute; top: 79.5%; left:33%;}
            .book_box22 .book_02 { position:absolute;width:33.33%;  height: 71%;  top:17vw;left:39%;  }
            .book_box22 .book_02 .count {  position: absolute; top: 79.5%;    left: 31%;}
            
            .book_box22 .post { position:absolute; width:23.33%;  height:32%;  top: 18vw; left:73%;}
            .book_box22 .list { position:absolute; width:23.33%;  height: 32%;  top:42vw;left:73%; }
            
            /*3品*/	
            .book_box3 .book_01 { position:absolute;width:34.50%;  height: 100%;  top: 0vw;left:0vw; }
            .book_box3 .book_01 .count { position: absolute; top: 87.6%; left:42%;}
            .book_box3 .book_02 { position:absolute;width:31.0%;  height: 100%;  top:0;left:35%;  }
            .book_box3 .book_02 .count {  position: absolute; top: 87.6%; left:27%;}
            .book_box3 .book_03 { position:absolute;width:32.50%;  height: 100%;  top:0;left:66%;  }
            .book_box3 .book_03 .count {  position: absolute; top: 87.6%; left:26%;}			
            .book_box3 .post { position:absolute; width:50%;  height: 25%;  top: 75%; left:0%;}
            .book_box3 .list { position:absolute; width:50%;  height: 25%;  top: 75%; left:50%; }
            

	
/*黏人快速鍵(白色款)*/
.fixed_Area {z-index:999; position:fixed; top:20px; right:0px; width:100px; font-weight:800; font-size:16px; line-height:48px; font-family:微軟正黑體修正, Century Gothic, "微軟正黑體",Helvetica; text-align:center;
			-webkit-transform: rotate3d(0,0,0,0deg) translate3d(0,0,0); transform: rotate3d(0,0,0,0deg) translate3d(0,0,0); -webkit-transform-origin:top right; transform-origin:top right;
			  -webkit-transition: all 0.2s ease;
				 -moz-transition: all 0.2s ease;
				  -ms-transition: all 0.2s ease;
				   -o-transition: all 0.2s ease;
					  transition: all 0.2s ease;}
.fixed_Area a { display:block; text-decoration: none; color: #000;}
.fixed_Area img {-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease;}
.fixed_Area .box ul { margin:0; padding:0; list-style:none; margin-top: -16px; }
.fixed_Area .box li { margin:0 0 1px 0; padding:0; height:48px; background-color:rgba(255,255,255,0.6);}
.fixed_Area .box li a { letter-spacing:-1px;height:48px; overflow:hidden;}
.fixed_Area .box li a:hover { background-color:rgba(255,255,255,1);}
.fixed_Area .box li.cate-hover { background-color:rgba(255,255,255,1);}
.fixed_Area .box h2 { margin:0; padding:0;}
	/*快速導覽*/
	.fixed_Area h3 { position: absolute; top:100px; right:-50px; margin:0; padding:35px 0 0 0; border-radius:10px; width:48px; height:110px; font-size: 16px; line-height:30px; writing-mode: tb-lr; writing-mode: vertical-lr; -webkit-writing-mode: vertical-lr; background-color:rgba(255,255,255,0.6); text-align:left; cursor:pointer;
			-webkit-transform-origin:top left; transform-origin:top left;
			  -webkit-transition: all 0.2s ease;
				 -moz-transition: all 0.2s ease;
				  -ms-transition: all 0.2s ease;
				   -o-transition: all 0.2s ease;
					  transition: all 0.2s ease;}
	.fixed_Area h3 i { position: absolute; top:0; right:0; display:block; width:50px; height:50px; cursor:pointer;}
	.fixed_Area h3 i:before { content: ""; position:absolute; top:41%; left:37%; display:block; border:1px solid #000; border-width:0 1px 1px 0; width:15%; height:15%; -webkit-transform:translate(-50%,-50%) rotate(135deg); transform:translate(-50%,-50%) rotate(135deg); -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
			/*黑色款*/
			.fixed_Area.fixed_Area-dark a { color: #fff;}
			.fixed_Area.fixed_Area-dark .box li { background-color:rgba(0,0,0,0.5);}
			.fixed_Area.fixed_Area-dark .box li a:hover { background-color:rgba(0,0,0,1);}
			.fixed_Area.fixed_Area-dark .box li.cate-hover { background-color:rgba(0,0,0,1);}
            .fixed_Area.fixed_Area-dark h3 {background-color:rgba(0,0,0,0.5);color: #fff; }
            .fixed_Area.fixed_Area-dark h3  i:before { border-color:#fff;}



			/*收合黏人精*/
			.fixed_Area.fixed_Area_hide { -webkit-transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); }
			.fixed_Area.fixed_Area_hide h3 { -webkit-transform: rotate3d(0,0,0,0deg) translate3d(-185px,0,0); transform: rotate3d(0,0,0,0deg) translate3d(-185px,0,0); 
											 -webkit-transition-delay:0.2s; transition-delay:0.2s;}
											 
											 
/*置底*/
.fixbn a {padding-bottom:constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
			padding-bottom:env(safe-area-inset-bottom);}   /* 兼容 iOS >= 11.2 */ 
.fixbn{position:fixed; background-size:100%;bottom:0; display:block; z-index:10; white-space: 100%;}
.fixbn ul li{float:left;padding:0;list-style-type:none;width:50vw;}
.fixbn ul li img{width:100%;margin:0 auto; background-size: 100%;}

.fixbn ul{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
/*1顆按鈕*/
.fixbn .class_00 {position:absolute;width:100%; height: 100%; }
.fixbn .class_00 a {display:block;width:100%;height:100%;}
.fixbn .class_01 { top:0%;left:0%;}

/*2顆按鈕*/
.fixbn .class_00 {position:absolute;width:50%; height: 100%; }
.fixbn .class_00 a {display:block;width:100%;height:100%;}
.fixbn .class_01 { top:0%;left:0%;}
.fixbn .class_02 { top:0%;left:50%;}





