@charset "utf-8";
/* CSS Document */
.editable_content { color:#444; clear:both;}
.editable_content h4, .editable_content h5, .editable_content h6 { font-weight:500; }
.editable_content.content { margin-top:10px; margin-bottom:40px; }

/* 為文字上稿區可能出現的元素做設定 */
.editable_content, .editable_content p, .editable_content .para, .editable_content blockquote { line-height:180%; }
.editable_content p, .editable_content .para, .editable_content div { padding:0; }
.editable_content p, .editable_content .para, .editable_content ul, .editable_content ol, .editable_content div { margin-top:10px; margin-bottom:20px; }
.editable_content table, .editable_content iframe { margin-top:10px; margin-bottom:20px; }
.editable_content h4, .editable_content h5, .editable_content h6 { line-height:120%;}

/* 引言區塊 */
.editable_content blockquote { letter-spacing:.03em; margin:45px 0 45px 3.5rem; padding:5px 20px; 
	background-color:rgba(0,0,0,0.0); color:#444; position:relative; border-left:1px solid #bbb;
    /*-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;*/
}
.editable_content blockquote::before, .editable_content blockquote::after{ content:''; display:block; position:absolute; 
    font-size:100px; font-family:"Arial", serif; font-weight:bold; color:#2d2d2d; width:70px; height:70px; 
    vertical-align:middle; line-height:100px;
}
.editable_content blockquote::before{ content:'”'; top:0; left:-4rem; }
/* .editable_content blockquote::after{ content:'”'; bottom:15px; right:25px; display:none; } */
.editable_content blockquote p{ font-size:1.125em; margin-top:0; margin-bottom:10px; color:#444; letter-spacing:0.05em; }
.editable_content blockquote ul, .editable_content blockquote ol{ text-align:left; }
.editable_content blockquote ul li, .editable_content blockquote ol li{ line-height:180%; }
.editable_content blockquote ul li li, .editable_content blockquote ol li li{ font-size:0.938em; line-height:160%;}

.editable_content ol { list-style-type:decimal; margin-left:20px; }
.editable_content ul { list-style-type:disc; margin-left:20px; }
	.editable_content ul[type="disc"] { list-style-type:disc; }
	.editable_content ul[type="circle"] { list-style-type:circle; }
	.editable_content ul[type="square"] { list-style-type:square; }
.editable_content li { padding-bottom:10px; line-height:190%; }
.editable_content ol ol { list-style-type:lower-alpha; }
.editable_content ul ul { list-style-type:circle; }
.editable_content ul ul, .editable_content ul ol, .editable_content ol ul, .editable_content ol ol { margin-bottom:0; margin-left:20px; }
.editable_content ul > li li:last-child, .editable_content ol > li li:last-child { padding-bottom:0; }
.editable_content a{ text-decoration:underline; }
.font_red { color:#e60000; }
.font_blue { color:#0052d0; }
.font_bold { font-weight:bold; } 
.font_italic { font-style:italic; }
.font_underline { text-decoration:underline; }

/* 影片、相關連結、相關檔案 */
p.MsgModule_Download, p.MsgModule_Link { padding:0; line-height:160%; }
	p.MsgModule_Download span, p.MsgModule_Link span { font-weight:bold; white-space:nowrap; }
	
.MsgModule_Media { margin-left:auto; margin-right:auto; padding:10px 0 !important; }
	.MsgModule_Media iframe { margin:0 !important; }
	.MsgModule_Media .describe { text-align:left; margin:0 !important; padding:10px; background-color:#ebebeb; }
	.MsgModule_Media .describe span { display:block; line-height:180%; }
	noscript div.ytlink { padding:0; line-height:18px; }/* no script時影片區塊顯示的訊息 */

.editable_content .MsgModule_Media { margin-left:auto; margin-right:auto; width:560px; }
    .editable_content .MsgModule_Media.left { margin-left:0; }
    .editable_content .MsgModule_Media.right { margin-right:0; }
    .editable_content .MsgModule_Media.landscape { width:560px; }
    .editable_content .MsgModule_Media.portrait { width:315px; }
.editable_content .MsgModule_Media .media_wrap { margin-top:0; margin-bottom:0; padding-bottom:56.25%; text-align:left; position:relative; overflow:hidden; }
    .editable_content .MsgModule_Media.landscape.ratio_16by9 .media_wrap { padding-bottom:56.25%; }
    .editable_content .MsgModule_Media.portrait.ratio_16by9 .media_wrap { padding-bottom:177.77%; }
    .editable_content .MsgModule_Media.landscape.ratio_4by3 .media_wrap { padding-bottom:75%; }
    .editable_content .MsgModule_Media.portrait.ratio_4by3 .media_wrap { padding-bottom:133.33%; }
    .editable_content .MsgModule_Media .media_wrap iframe,
    .editable_content .MsgModule_Media .media_wrap object,
    .editable_content .MsgModule_Media .media_wrap embed { position:absolute; top:0; left:0; width:100%; height:100%; border:0; margin:0; }
.editable_content .MsgModule_Media .describe { text-align:left; margin:0; padding:20px; 
    background-color:#fff; line-height:150%; 
}
    .editable_content .MsgModule_Media .describe span { display:block; }
    .editable_content .MsgModule_Media .describe .title { margin-bottom:10px; font-weight:400; }
    .editable_content .MsgModule_Media .describe .title strong { color:#444; }
    .editable_content .MsgModule_Media .describe .desc { font-size:0.9375rem; }
    .editable_content noscript div.ytlink { padding:0; margin:0; line-height:18px; }/* no script時影片區塊顯示的訊息 */
    
.editable_content .MsgModule_Media video  { display:block; width:100%; }


/* 文繞圖設定 */
.editable_content div.district { overflow:hidden;}
.editable_content div.district p  { padding:5px 0; margin:0;  }
.editable_content div.district h3 { padding-top:0; margin-bottom:5px; }
.editable_content .img_bg { margin-bottom:0;}
.editable_content .imgleft { float:left; margin-right:35px; margin-top:0px; }
.editable_content .imgright { float:right; margin-left:35px; margin-top:0px; }
.editable_content .imgcenter { clear:both; text-align:center; margin:0 auto; padding:10px 15px 0 15px;}
.editable_content .imgleft, .editable_content .imgright { max-width:50%; }
.editable_content .district .img.left { float:left; margin-right:15px; }
.editable_content .district .img.right { float:right; margin-left:15px; }
.editable_content .district .img.left, .editable_content .district .img.right { max-width:50%; }
.editable_content .district .img_wrap { display:inline-block; margin-top:0; margin-bottom:0; text-align:left; }
.editable_content .img_bg span { 
	display:block; padding:5px 0 0 14px; box-sizing:border-box; position:relative;
	font-size:87.5%; line-height:140%; text-align:left; color:#7e7e7e; 
}
.editable_content .img_bg span::after { 
	content:''; display:block; position:absolute; top:12px; left:0;
	border-left:5px solid rgba(255,255,255,0); border-right:5px solid rgba(255,255,255,0); border-bottom:5px solid #818181; 
}

/* 文繞圖插入影片 */
.editable_content .district .media { width:560px; }
.editable_content .district .media .media_wrap { margin-top:0; margin-bottom:0; padding-bottom:56.25%; text-align:left; position:relative; overflow:hidden; }
    .editable_content .district .media.landscape { width:560px; }
    .editable_content .district .media.portrait { width:315px; }
    .editable_content .district .media.landscape.ratio_16by9 .media_wrap { padding-bottom:56.25%; }
    .editable_content .district .media.portrait.ratio_16by9 .media_wrap { padding-bottom:177.77%; }
    .editable_content .district .media.landscape.ratio_4by3 .media_wrap { padding-bottom:75%; }
    .editable_content .district .media.portrait.ratio_4by3 .media_wrap { padding-bottom:133.33%; }
    .editable_content .district .media .media_wrap iframe,
    .editable_content .district .media .media_wrap object,
    .editable_content .district .media .media_wrap embed { position:absolute; top:0; left:0; width:100%; height:100%; border:0; margin:0; }
    .editable_content .district .media .describe { text-align:left; margin:0; background-color:#fff; padding:15px 25px; }
    .editable_content .district .media .describe span { display:block; margin:0; line-height:150%; 
    }
    .editable_content .district .media .describe .desc { font-size:0.875rem; line-height:180%; font-weight:400; color:#5d5d5d; }
    .editable_content .district .media .describe .title{ border-bottom:1px solid #ddd; font-weight:500; 
        padding-bottom:5px; margin-bottom:5px; 
    }
    .editable_content .district .media .describe .title + .desc { padding-top:0; }
    .editable_content noscript div.ytlink { padding:0; line-height:150%; }/* no script時影片區塊顯示的訊息 */
	
/* html編輯區的表格預設樣式 */
.editable_content table[align="center"] { margin-left:auto; margin-right:auto; }
.editable_content table caption, .editable_content .tableWrap_caption { font-weight:bold; color:#000;  font-size:100%; text-align:left; line-height:140%; }
	.editable_content table caption { margin:10px 0;}
	.editable_content .tableWrap_caption { padding-top:5px; margin:0; }
.editable_content .tableWrap { position:relative; overflow-y:auto; width:100%; height: auto; height:auto; margin-bottom:1em; } /* 捲軸新增的 */
.editable_content .tableWrap table { margin:0; }

/* 美化卷軸(僅支援chrome，其他瀏覽器仍維持預設卷軸樣式) */
.editable_content .tableWrap::-webkit-scrollbar { -webkit-appearance:none; width:14px; height:14px; }
.editable_content .tableWrap::-webkit-scrollbar-thumb { border-radius:8px; border:3px solid #fff; background-color:rgba(0, 0, 0, .3); }
.editable_content .tableWrap::-webkit-scrollbar-thumb:hover { background-color:#666; }

/* 給Chrome以外瀏覽器以外js產生的捲軸 */
.editable_content .tableWrap .jspContainer { margin: 0; padding-bottom:13px; }
.editable_content .tableWrap .jspPane, .editable_content .tableWrap .jspDragLeft, .editable_content .tableWrap .jspDragRight { margin:0; }
.editable_content .tableWrap .jspHorizontalBar { background:transparent; height:8px; margin:0; }
.editable_content .tableWrap .jspDrag { border-radius:8px; background-color:rgba(0, 0, 0, .3); margin:0; }
.editable_content .tableWrap .jspDrag:hover { background-color:#ff8922; }
.editable_content .tableWrap .jspTrack { border-radius:8px; background:#f5f5f5; margin:0; }

/* html編輯區的表格外框樣式 */
.editable_content .table_style1 > tbody > tr > th, .editable_content .table_style1 > tbody > tr > td { 
    padding:8px; border-left:1px solid #999; border-bottom:1px solid #999; line-height:160%; background-color: #fff;
    font-weight:400; 
}
.editable_content .table_style1 > tbody > tr > th { background-color:#eee; color:#333; white-space:nowrap; }

/* 移除第一個物件的上邊界、上間距避免過大的空白 */
.editable_content > *:first-child, .editable_content td > *:first-child { 
	 margin-top:0 !important; 
}
/* 移除最後一個物件的下邊界、下間距避免過大的空白 */
.editable_content > *:last-child, .editable_content td > *:last-child{ 
	/*padding-bottom:0 !important; */　margin-bottom:0 !important; 
}
.editable_content iframe, .editable_content img, .editable_content div, .editable_content p, .editable_content span{ 
    max-width:100%; box-sizing:border-box; /* 避免爆版 */
}
.editable_content * { word-wrap:break-word; }

/* 條文 */
.clause .l1 { margin-bottom:10px; }
.clause .l2 { margin-top:0; margin-bottom:10px; padding-left:33px; text-indent:-33px; }
.clause .l2.cont { padding-left:0; text-indent:0; }
.clause .l3 { margin-top:0; margin-bottom:10px; padding-left:62px; text-indent:-26px; }
.clause .l3.cont { padding-left:36px; text-indent:0; }
.clause .l4 { margin-top:0; margin-bottom:10px; padding-left:78px; text-indent:-13px; }
.clause .l5 { margin-top:0; margin-bottom:10px; padding-left:100px; text-indent:-20px; }

.clause .l1+.l1, .clause .l2+.l1, .clause .l3+.l1, .clause .l4+.l1, .clause .l5+.l1,
.clause .l1+h3, .clause .l2+h3, .clause .l3+h3, .clause .l4+h3, .clause .l5+h3 { margin-top:40px; }
.clause .l1+h4, .clause .l2+h4, .clause .l3+h4, .clause .l4+h4, .clause .l5+h4 { margin-top:20px; }

/*StyleStart*/
/*段落*/
.para { display:block; }
/*字級12px*/
.font_12px { font-size:75%; }
/*字級13px*/
.font_13px { font-size:81.25%; }
/*字級14px*/
.font_14px { font-size:87.5%; }
/*字級15px*/
.font_15px { font-size:93.75%; }
/*字級16px*/
.font_16px { font-size:100%; }
/*字級18px*/
.font_18px { font-size:112.5%; }
/*字級20px*/
.font_20px { font-size:125%; }
/*字級22px*/
.font_22px { font-size:137.5%; }
/*字級24px*/
.font_24px { font-size:150%; }
/*字級26px*/
.font_26px { font-size:162.5%; }
/*字級28px*/
.font_28px { font-size:175%; }
/*字級30px*/
.font_30px { font-size:187.5%; }
/*字級32px*/
.font_32px { font-size:200%; }
/*字級36px*/
.font_36px { font-size:225%; }
/*文字靠左*/
.tl { text-align:left; }
/*文字置中*/
.tc { text-align:center; }
/*文字靠右*/
.tr { text-align:right; }

/*h4標題*/
.editable_content h4 { font-size:137.5%; color:#ff8922; margin-bottom:5px; line-height:150%; }
/*h5標題*/
.editable_content h5 { font-size:125%; color:#444; margin-bottom:5px; }
/*h6標題*/
.editable_content h6 { font-size:112.5%; color:#333; margin-bottom:5px; }

/* 單篇延伸區塊 */
h4.ext_title { 
    position:relative; margin-top:20px; padding:5px 15px 5px 30px;
	font-size:125% !important; line-height:150% !important; color:#333; letter-spacing:1px;
    background-color:#f6f4f0; 
    background:url("../images/icon_module.png") no-repeat;  /*這是有icon的*/
	/*background-image:url("../images/bg.jpg"); */
}
	h4.icon_more { background-position: 5px 0px; }
	h4.icon_file { background-position: 5px -90px; }
	h4.icon_link { background-position: 5px -190px; }
	h4.icon_photo { background-position: 5px -290px; }
	
.editable_content + h4.ext_title { margin-top:20px; }

ul.ext_list { list-style-type:decimal; border-top: 1px solid #ccc; padding-top:10px; padding-left:40px; }
.editable_content ul.ext_list{ margin-left:0; margin-top:0; }
ul.ext_list li { position:relative; padding:4px 0; line-height:140%; }
ul.ext_list li a { color:#555; text-decoration:none; word-wrap:break-word; line-height:1.6;}
ul.ext_list li a:hover { color:#df7b39; text-decoration:underline; }
ul.ext_list li span.file_ext { width:20px; height:20px; margin-left:6px; text-indent:-10000px; }

h4.ext_title+#colorbox_thum, h4.ext_title+.my-gallery{ border-top: 1px solid #ccc; margin-top:-7px; }

/* 表格外框樣式1 */
.editable_content table.table_style1 { border-right:1px solid #999; border-top:1px solid #999; }

/* 表格外框樣式2 */
.editable_content .table_style2{ width:100%; min-width:500px;}
.editable_content table.table_style2 tbody{ border:1px solid #ddd; }
.editable_content .table_style2 > tbody > tr > th, .table_style2 > tbody > tr > td { padding:10px; border-left:1px solid #ddd; border-bottom:1px solid #ddd; line-height:180%; text-align:center;}
.editable_content .table_style2 > tbody > tr > th{ font-weight: bold; min-width:100px; background-color:#f7f7f7; color:#000;}
.editable_content .table_style2 .text-center{ text-align:center;}
.editable_content .table_style2 .text-left{ text-align:left;}

/*引言區塊裡的表格*/
.editable_content blockquote table.table_style1{ border-color:#b5bdbf; font-size:0.875em; }
.editable_content blockquote > .table_style1 > tbody > tr > th{ background-color:#d0dadc; border-color:#b5bdbf;}
.editable_content blockquote > .table_style1 > tbody > tr > td{ background-color:#fff; border-color:#b5bdbf;}
